.content-wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 72px;
}

.content{
    display: flex;
    justify-content: center;
    color: var(--navbar_text);

    width: 1280px;
    min-width: 100px;
    background-color: var(--navbar-background);
    transition: all 1s;
}

@media screen and (max-width: 769px){
    .content{
        margin: 10px;
    }
}