nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    background-color: #262333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.content{
    display: flex;
    align-items: center;
    width: 1200px;
    min-width: 400px;
    justify-content: space-between;
    padding: 20px 80px;
}

.content a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 36px;
    height: 36px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.icon:hover {
    color: cadetblue;
}

#navbar-list ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar-list ul li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar-list a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#navbar-list a:hover, #navbar-list a.active {
    color: cadetblue;
}

#mobile {
    display: none;
}

@media screen and (max-width: 769px){

    #navbar-list ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: -500px;
        right: 0px;
        width: 100%;
        background-color: #262333;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        padding: 40px 0 40px 10px;
        transition: 0.3s ease-in-out;
        z-index: -1;
    }

    #navbar-list.active ul {
        top: 90px;
    }

    #navbar-list ul li {
        margin-bottom: 24px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        cursor: pointer;
    }
}