:root {
  --navbar_background: #FCFFFF;
  --navbar_text: #1D1F20;
  --navbar_decoration: silver;
  --body_background: white;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

[data-theme="dark"] {
  --navbar_background: #222222;
  --navbar_text: #E6EEEE;
  --body_background: black;
}

body {
  margin: 0;
  min-width: 100px;
  min-height: 100vh;
}

#root{
  margin: 0;
  min-width: 100px;
  min-height: 100vh;
  background-color: var(--body_background);
  transition: all 1s;
}
